button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Jaldi", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Jaldi", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Jaldi", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jaldi", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1 {
  display: none; }

h2 {
  font-size: 1.8em; }

html, body {
  margin: 0;
  position: relative;
  height: 100%;
  background-color: #333; }

footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  padding: 1.2em;
  text-align: right; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer a {
    color: #ccc; }
    footer a:hover {
      color: #fff; }

body > div > section {
  padding-top: 6em;
  background-color: white;
  display: block;
  position: relative;
  margin: 0;
  padding-bottom: 5em; }
  body > div > section > section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2em; }
    body > div > section > section::after {
      clear: both;
      content: "";
      display: table; }

html.js > body > div > section > section {
  display: none; }

table tr td:nth-child(1), table tr th:nth-child(1) {
  width: 8em; }

table tr td:nth-child(2), table tr th:nth-child(2) {
  width: 2em; }

.table-of-contents {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .table-of-contents p {
    margin: 0; }
  .table-of-contents, .table-of-contents ul {
    background-color: #F0DB4F; }
  .table-of-contents code {
    font-family: "Jaldi", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  .table-of-contents, .table-of-contents > ul {
    height: 4.7em; }
  .table-of-contents > li {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .table-of-contents > li > p a {
      display: block;
      font-size: 1.5em;
      padding: 0.4em 0.8em;
      color: #000;
      text-decoration: none !important;
      line-height: 0.8em; }
      .table-of-contents > li > p a em {
        font-size: 0.6em;
        opacity: 0.8;
        white-space: nowrap; }
    .table-of-contents > li::after {
      clear: both;
      content: "";
      display: table; }
    .table-of-contents > li > ul > li {
      display: inline-block;
      position: relative;
      border-right: 1px solid #fff; }
      .table-of-contents > li > ul > li a {
        display: block;
        white-space: nowrap;
        padding: 0.3em 1.2em;
        color: #333; }
        .table-of-contents > li > ul > li a:hover {
          color: #fff;
          text-decoration: underline; }
      .table-of-contents > li > ul > li > ul {
        background-color: #666;
        position: absolute;
        z-index: 2;
        display: none; }
        .table-of-contents > li > ul > li > ul a:hover {
          background-color: #888; }
        .table-of-contents > li > ul > li > ul > ul {
          display: none; }
      .table-of-contents > li > ul > li:hover {
        background-color: #666; }
        .table-of-contents > li > ul > li:hover a {
          color: #ccc; }
          .table-of-contents > li > ul > li:hover a:hover {
            color: #fff; }
        .table-of-contents > li > ul > li:hover > ul {
          display: block; }

#es2015-module-detection-in-node-js-june-2016:hover {
  text-decoration: none; }

section {
  background-color: white;
  margin-bottom: 1.5em;
  color: #444; }
  section ul {
    margin-left: 1.2em;
    margin-bottom: 1.2em; }
  section li {
    list-style-type: disc; }
  section code {
    font-family: "Jaldi", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #000;
    font-weight: bold; }
  section a, section a code {
    color: #00c; }
    section a:hover, section a:focus, section a:visited, section a code:hover, section a code:focus, section a code:visited {
      color: #00c;
      text-decoration: underline; }

.license {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  text-align: left; }

table.responsive-table th {
  display: none; }

table.responsive-table tr {
  height: 100%; }

table.responsive-table td {
  display: block; }

table.responsive-table td:before {
  content: attr(data-col-title);
  display: inline-block;
  max-width: 50%;
  width: 100%; }

@media (max-width: 1000px) {
  .table-of-contents {
    position: static; }
    .table-of-contents, .table-of-contents > ul {
      height: auto; }
  body > div > section {
    padding-top: 0em; } }

@media (max-width: 640px) {
  .table-of-contents ul ul {
    display: none !important; } }

@media (min-width: 500px) {
  table.responsive-table th,
  table.responsive-table td {
    display: table-cell; }
  table.responsive-table td:before {
    display: none; } }
